*, ::before, ::after{
    box-sizing: border-box;
    text-decoration: none;
    margin:0;
    padding:0;
line-height:1;
padding-top:0;
text-align: center;
text-overflow: clip;
text-decoration: dotted;
justify-content: center;
font-size: 100%;
text-align: justify;
}
